*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html{
    font-size: 16px;
    font-family: "M PLUS 2", sans-serif;
}

:root{
    --color-white: white;
    --color-black: black;


    --color-bgDefault:#121214;
    --color-grayDark: #0f0f0f;
    --color-grayLight: #525252;
    --color-lightCream: #FBFAF0;
    --color-lightGreen: #b2fba5;
    --color-lightPapper:#F9F6F2;
    --color-orangeDark: #F7924A;
    --color-orangeLight: #FFD580;
    --shadow-route51:rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.bgLightPapper{
    background: var(--color-lightPapper)!important;
}

.bgLightCream{
    background: var(--color-lightCream)!important;
}
.h50vh{
    min-height: 50vh;
    height: 100%;
    max-height: 100vh;
    padding-bottom: 20px;
    width: 1fr;
    max-width: 1440px;
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 50px;
}


body{
    display: grid;
    min-height: 100vh;
    max-width: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: var(--color-white);
    font-family: "M PLUS 2", sans-serif;
    overflow-x: hidden;
    

}

.page{
    padding-top: 20px;
    background: url('./../assets/bg/bgDefault.svg');
    background-repeat: repeat;
    display: flex;
    flex-flow: column wrap;
    background-color: radial-gradient(circle at 49.8% 44.4%, rgb(251, 230, 59) 0%, rgb(161, 255, 63) 90%);

}

nav, footer{
    box-shadow: var(--shadow-route51) inset;    
}

.showHiddenBtn{
    position: fixed;
    top: 3px;
    right: 20px;
    background-color:var( --color-orangeDark);
    color: black;
    position: fixed;
    top: 8px;
    right: 5%;
    transition:.5s;
    border: 1px solid transparent !important	;
    z-index: 1000;
}

.showHiddenBtn:hover,
.showHiddenBtn:active,
.showHiddenBtn:focus{
    background-color:var( --color-orangeLight);
    color: var(--color-orangeDark);
    border: none;
    cursor: pointer;
    transition:.5s;
    border: 1px solid var( --color-orangeDark)!important	;
    z-index: 1000;
    outline: none!important;
}


main{
    margin: 80px auto;
    padding: 2rem;
}

.slider-title{
    margin: auto;
}

.forms-sample{
    max-width: 750px;
    height: auto;
    max-height: 600px;
    margin: 30px auto;
}

.blog-figure-img{
    width: 80%;
    object-fit: contain;
    max-height: 200px;
    transform: matrix(-50%);
}


textarea{
    resize: none;
    height: 200px;
}


footer{
    z-index: 700!important;
}


.nav-item .nav-link{
    color: var(--color-grayLight)!important;
    text-decoration: none;
    text-align: center;
}

.nav-item:active .nav-link{
    color: var(--color-grayDark)!important;
    text-decoration: none;
    text-align: center;
}
.nav-item:hover .nav-link{
    color: var(--color-grayDark)!important;
    text-decoration: none;
    text-align: center;
}
.nav-link:active{
    color: var(--color-grayDark)!important;
    text-decoration: none;
    text-align: center;
    background-color: transparent !important;
}

.btn-orange:hover{
    border:2px solid var(--color-orangeDark)!important;  

    background-color: var(--color-orangeDark);
}


.btn-orange{
    border: 2px solid var(--color-orangeLight);
    background-color: var(--color-orangeLight);
}

.btn-orange:active{
    border:2px solid var(--color-orangeDark)!important;  

    background-color: var(--color-orangeDark);
}

.headingH2{
    font-size: 1.8rem;
    text-align: center;

    padding:0!important;
}

.spanH2{
    width:340px;
    margin: 10px 5%;
    text-align: center;
    color: var(--color-orangeDark);
    font-size: 1.4rem;
    align-content: center;

};