

.margin-slider{
padding-top:120px!important;
}

.gallery-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background: var(--color-orangeDark);
    margin-bottom: 80px;
  }
  
  .gallery-item {
    margin: 30px auto;
    margin-top: 30px;
    padding: 2rem 0;
    background: var(--color-orangeLight);
    border: 2px solid var(--color-grayLight);
    border-radius: 22px;
  }
  

  .contact-form{
    margin-bottom: 100px;
  }

  .timeline {
    background: orangered;
    margin: 0px auto;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 70px;
  }
 

  .cardTimeline{
    padding: 1rem;
    margin: 20px auto;
    background-color: var(--color-lightPapper);
    border-radius: 22px;
    min-width: 350px;
    width: 80%;
  }

  #linha-vertical {
    height:100%;
    border-right: 1px solid rgb(0, 0, 0);
}

.section-login{
  padding-top: 10vh;
  margin-bottom: 10vh;
  height: 100vh;
}

.form-container-login{
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: var(--color-orangeDark);
  border: 2px solid var(--color-orangeLight);
  border-radius: 22px;
}


.img-login{
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}