*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html{
    font-size: 16px;
    font-family: "M PLUS 2", sans-serif;
}

:root{
    --color-white: white;
    --color-black: black;

    --transparent-light: #ffffffd3;
    --color-bgDefault:#121214;
    --color-grayDark: #0f0f0f;
    --color-grayLight: #525252;
    --color-lightCream: #FBFAF0;
    --color-lightGreen: #b2fba5;
    --color-lightPapper:#F9F6F2;
    --color-orangeDark: #F7924A;
    --color-orangeLight: #FFD580;
    --shadow-route51:rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.bgLightPapper{
    background: var(--color-lightPapper)!important;
}

.bgLightCream{
    background: var(--color-lightCream)!important;
}


body{
    display: grid;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    font-family: "M PLUS 2", sans-serif;
    overflow-x: hidden;
    background: url('./../assets/bg/bgDefault.svg');
    background-repeat: repeat;
    overflow-y: scroll;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--transparent-light);
    overflow: hidden;
}
.header{
    padding-top: 120px;
    padding-bottom: 150px;
}
.modal-dialog{
    background-color:transparent;
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 12%;
    right: 12%;
    z-index: 1000;
}



nav, footer{
    box-shadow: var(--shadow-route51) inset;    
}

.showHiddenBtn{
    position: fixed;
    top: 3px;
    right: 20px;
    background-color:var( --color-orangeDark);
    color: black;
    position: fixed;
    top: 8px;
    right: 5%;
    transition:.5s;
    border: 1px solid transparent !important	;
    z-index: 1000;
}

.showHiddenBtn:hover,
.showHiddenBtn:active,
.showHiddenBtn:focus{
    background-color:var( --color-orangeLight);
    color: var(--color-orangeDark);
    border: none;
    cursor: pointer;
    transition:.5s;
    border: 1px solid var( --color-orangeDark)!important	;
    z-index: 1000;
    outline: none!important;
}




.slider-title{
    margin: auto;
}

.forms-sample{
    max-width: 750px;
    height: auto;
    max-height: 600px;
    margin: 30px auto;
}

.blog-figure-img{
    width: 80%;
    object-fit: contain;
    max-height: 200px;
    transform: matrix(-50%);
}


textarea{
    resize: none;
    height: 200px;
}


.nav-item .nav-link{
    color: var(--color-grayLight)!important;
    text-decoration: none;
    text-align: center;
}

.nav-item:active .nav-link{
    color: var(--color-grayDark)!important;
    text-decoration: none;
    text-align: center;
}
.nav-item:hover .nav-link{
    color: var(--color-grayDark)!important;
    text-decoration: none;
    text-align: center;
}
.nav-link:active{
    color: var(--color-grayDark)!important;
    text-decoration: none;
    text-align: center;
    background-color: transparent !important;
}

.btn-orange:hover{

    border:2px solid var(--color-orangeDark)!important;  

    background-color: var(--color-orangeDark);
}


.btn-orange{
    border: 2px solid var(--color-orangeLight);
    background-color: var(--color-orangeLight);
}

.btn-orange:active{

    background-color: var(--color-orangeDark);
}

.headingH2{
    font-size: 1.8rem;
    text-align: center;

    padding:0!important;
}

.spanH2{
    width:340px;
    margin: 10px 5%;
    text-align: center;
    color: var(--color-orangeDark);
    font-size: 1.4rem;
    align-content: center;

};


.btn-container-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto!important;
}

.btn-container-modal button{
    margin: 0 10px;
}

.list-social{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}


/* sections da main*/
main{
    background-color: var(--color-orangeLight);

}




footer{
    z-index: 700!important;
    height: 100%;
    max-height: 80px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}


.margin-slider{
padding-top:120px!important;
}

.gallery-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background: var(--color-orangeDark);
    margin-bottom: 80px;
  }
  
  .gallery-item {
    margin: 30px auto;
    margin-top: 30px;
    padding: 2rem 0;
    background: var(--color-orangeLight);
    border: 2px solid var(--color-grayLight);
    border-radius: 22px;
  }
  

  .contact-form{
    margin-bottom: 100px;
  }

  .timeline {
    background: orangered;
    margin: 0px auto;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 70px;
  }
 

  .cardTimeline{
    padding: 1rem;
    margin: 20px auto;
    background-color: var(--color-lightPapper);
    border-radius: 22px;
    min-width: 350px;
    width: 80%;
  }

  #linha-vertical {
    height:100%;
    border-right: 1px solid rgb(0, 0, 0);
}

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html{
    font-size: 16px;
    font-family: "M PLUS 2", sans-serif;
}

:root{
    --color-white: white;
    --color-black: black;

    --transparent-light: #ffffffd3;
    --color-bgDefault:#121214;
    --color-grayDark: #0f0f0f;
    --color-grayLight: #525252;
    --color-lightCream: #FBFAF0;
    --color-lightGreen: #b2fba5;
    --color-lightPapper:#F9F6F2;
    --color-orangeDark: #F7924A;
    --color-orangeLight: #FFD580;
    --shadow-route51:rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.bgLightPapper{
    background: var(--color-lightPapper)!important;
}

.bgLightCream{
    background: var(--color-lightCream)!important;
}


body{
    display: grid;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    font-family: "M PLUS 2", sans-serif;
    overflow-x: hidden;
    background: url('./../assets/bg/bgDefault.svg');
    background-repeat: repeat;
    overflow-y: scroll;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--transparent-light);
    overflow: hidden;
}
.header{
    padding-top: 120px;
    padding-bottom: 150px;
}
.modal-dialog{
    background-color:transparent;
    position: fixed;
    top: 5vh;
    bottom: 20vh;
    left: 12%;
    right: 12%;
    z-index: 1000;
}



nav, footer{
    box-shadow: var(--shadow-route51) inset;    
}

.showHiddenBtn{
    position: fixed;
    top: 3px;
    right: 20px;
    background-color:var( --color-orangeDark);
    color: black;
    position: fixed;
    top: 8px;
    right: 5%;
    transition:.5s;
    border: 1px solid transparent !important	;
    z-index: 1000;
}

.showHiddenBtn:hover,
.showHiddenBtn:active,
.showHiddenBtn:focus{
    background-color:var( --color-orangeLight);
    color: var(--color-orangeDark);
    border: none;
    cursor: pointer;
    transition:.5s;
    border: 1px solid var( --color-orangeDark)!important	;
    z-index: 1000;
    outline: none!important;
}




.slider-title{
    margin: auto;
}

.forms-sample{
    max-width: 750px;
    height: auto;
    max-height: 600px;
    margin: 30px auto;
}

.blog-figure-img{
    width: 80%;
    object-fit: contain;
    max-height: 200px;
    transform: matrix(-50%);
}


textarea{
    resize: none;
    height: 200px;
}


.nav-item .nav-link{
    color: var(--color-grayLight)!important;
    text-decoration: none;
    text-align: center;
}

.nav-item:active .nav-link{
    color: var(--color-grayDark)!important;
    text-decoration: none;
    text-align: center;
}
.nav-item:hover .nav-link{
    color: var(--color-grayDark)!important;
    text-decoration: none;
    text-align: center;
}
.nav-link:active{
    color: var(--color-grayDark)!important;
    text-decoration: none;
    text-align: center;
    background-color: transparent !important;
}

.btn-orange:hover{

    border:2px solid var(--color-orangeDark)!important;  

    background-color: var(--color-orangeDark);
}


.btn-orange{
    border: 2px solid var(--color-orangeLight);
    background-color: var(--color-orangeLight);
}

.btn-orange:active{

    background-color: var(--color-orangeDark);
}

.headingH2{
    font-size: 1.8rem;
    text-align: center;

    padding:0!important;
}

.spanH2{
    width:340px;
    margin: 10px 5%;
    text-align: center;
    color: var(--color-orangeDark);
    font-size: 1.4rem;
    align-content: center;

};


.btn-container-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto!important;
}

.btn-container-modal button{
    margin: 0 10px;
}

.list-social{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}


/* sections da main*/
main{
    background-color: var(--color-orangeLight);

}




footer{
    z-index: 700!important;
    height: 100%;
    max-height: 80px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}


.margin-slider{
padding-top:120px!important;
}

.gallery-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background: var(--color-orangeDark);
    margin-bottom: 80px;
  }
  
  .gallery-item {
    margin: 30px auto;
    margin-top: 30px;
    padding: 2rem 0;
    background: var(--color-orangeLight);
    border: 2px solid var(--color-grayLight);
    border-radius: 22px;
  }
  

  .contact-form{
    margin-bottom: 100px;
  }

  .timeline {
    background: orangered;
    margin: 0px auto;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 70px;
  }
 

  .cardTimeline{
    padding: 1rem;
    margin: 20px auto;
    background-color: var(--color-lightPapper);
    border-radius: 22px;
    min-width: 350px;
    width: 80%;
  }

  #linha-vertical {
    height:100%;
    border-right: 1px solid rgb(0, 0, 0);
}

.section-login{
  padding-top: 10vh;
  margin-bottom: 10vh;
  min-height: 70vh;
}

.form-container-login{
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: var(--color-orangeDark);
  border: 2px solid var(--color-orangeLight);
  border-radius: 22px;
}


.img-login{
padding: 2rem;
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}