@media screen and (max-width: 920px) {
    .hero-blog-header {
        display: grid;
        margin-top: -8vh;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 35vh);
        padding: 2rem;
        padding: 2rem;
        ;
    }

    .hero,
    .container-testimonial {
        padding-bottom: 120px !important;
    }

    .hero-blog-header .carrousel-item,
    .slider-title {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        padding: 2rem;
    }
}

.btn-hero {
    display: inline-flex;
    height: 64px;
    padding: 24px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 73px;
    background: var(--color-orangeDark);
    margin: 10px auto;
    margin-left: 30px;
}

.btn-hero:hover {
    background-color: orange;
    color: var(--color-white);
}

@media screen and (min-width: 921px) {
    .hero {
        margin-top: -84px !important;
    }
}