.timeline {
    background:  #e98456;
    margin: 0px auto;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 70px;
  }
 

  .cardTimeline{
    padding: 1rem;
    margin: 20px auto;
    background-color: var(--color-lightPapper);
    border-radius: 22px;
    min-width: 350px;
    width: 80%;
  }

  #linha-vertical {
    height:100%;
    border-right: 1px solid rgb(0, 0, 0);
}